@import "semantic-ui";

.ui.segment{
    border-radius: 0%;
}

.chat{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow-y: scroll;

    .form{
        justify-self: flex-end;
    }
}

.ui.comments{
    max-width: 100%;
}

.mt-3{
    margin-top: 0.75rem;
}

.mt-4{
    margin-top: 1rem;
}

.mb-4{
    margin-bottom: 1rem;
}

.p-0{
    padding: 0% !important;
}